<div class="container h-75">
  <div class="row h-75 justify-content-center align-items-center">
    <div class="col-md-11 mx-auto">
      <div class="card-group mt-5">
        <div class="card p-4">
          <div class="card-body">
              <h1>Login</h1>
            <a [href]="loginUrl">Sign in with Discord</a>
          </div>
        </div>
        <div class="card text-white py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center" style="display: flex; align-items: center; flex-wrap: wrap">
            <img src="assets/discord.original.jpg" width="200" height="200" class="center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




